{% extends 'base.html.twig' %}

{% block title %}
    Vétérinaire
{% endblock %}
{% block body %}
    {% include '_header.html.twig' %}
    {{ include('veterinaire/_navbar.html.twig') }}
    <div class="other">
    <link rel="stylesheet" href="{{ asset('css/veto.css') }}">
    <div class="header_planning"><p class="cons_jour">Consultation du Jour</p></div>
        {%  for cons in consultations %}
        <div class="cons_block">
            <div><img alt="" src = "{{ asset('icone/user.png') }}"><img alt="" src = "{{ asset('icone/location.png') }}"></div>
            <div>Motif: {{ cons.motifConsultation }}</div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
