{% extends 'base.html.twig' %}

{% block title %}Création d'une consultation{% endblock %}

{% block body %}
    {% include '_header.html.twig' %}
<h1> Création d'une consultation</h1>

    {{ form_start(form, {method:'POST'}) }}
    {{ form_row(form.motifConsultation, {label : 'Motif :'}) }}
    {{ form_row(form.animal, {label: 'Animal :'}) }}
    {{ form_row(form.consultationDesc, {label : 'Description :'}) }}
    {{ form_row(form.start, {label : 'Start :'}) }}
    {{ form_row(form.end, {label : 'End :'}) }}
    {{ form_row(form.allday, {label : 'Allday :'}) }}
    {{ form_row(form.clinique, {label : 'Clinique :'}) }}
    {{ form_row(form.urgente, {label : 'Urgente :'}) }}
    <button type="submit">Créer</button>
    {{ form_end(form) }}

{% endblock %}
