{{ form_start(form, {'method': 'POST'}) }}
Nom : {{ form_widget(form.nomAnimal, {'attr': {'class': 'nomAnimal'}}) }} <br>
Stéréliser : {{ form_widget(form.stereliser, {'attr': {'class': 'stereliser'}}) }} <br>
Age : {{ form_widget(form.ageAnimal, {'attr': {'class': 'ageAnimal'}}) }} <br>
Poids : {{ form_widget(form.poidsAnimal, {'attr': {'class': 'poidsAnimal'}}) }} <br>
Description : {{ form_widget(form.descriptionAnimal, {'attr': {'class': 'descriptionAnimal'}}) }} <br>
<button type="submit" class="btn btn-primary">Modifier</button>
{{ form_end(form) }}

