<div>
    <span class="en-tete">
        <p>Nom</p>
        <p>Prénom</p>
        <p>ville</p>
        <p>code postal</p>
        <form class="d-flex" role="search" method="get" action="">
            <input class="form-control me-2" type="search" name="search" placeholder="search" aria-label="search" value="{{search | default ("")}}">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </span>
    <ul class="Personne">
        {% for  Personne in lstContact %}
            <li><span class="contact">
                            <span class="nom">{{Personne.nomPers}}</span>
                            <span class="pnom">{{Personne.pnomPers}}</span>
                            <span class="ville">{{Personne.villePers}}</span>
                            <span class="code">{{Personne.cpPers}}</span>
                            <span class="tel">{{ Personne.telPers }}</span>
                    <button><a href="/client/{{ Personne.id }}">Animaux</a></button>
                </span></li>

        {% endfor %}
    </ul>
</div>
