{{ form_start(form, {'method': 'POST'}) }}
Prénom : {{ form_widget(form.pnomPers, {'attr': {'class': 'pnomPers'}}) }} <br>
Nom : {{ form_widget(form.nomPers, {'attr': {'class': 'nomPers'}}) }} <br>
Ville : {{ form_widget(form.villePers, {'attr': {'class': 'villePers'}}) }} <br>
Code Postal : {{ form_widget(form.CPPers, {'attr': {'class': 'CPPers'}}) }} <br>
Adresse : {{ form_widget(form.adrPers, {'attr': {'class': 'adrPers'}}) }} <br>
Téléphone : {{ form_widget(form.telPers, {'attr': {'class': 'telPers'}}) }} <br>
<button type="submit">Modifier</button>
{{ form_end(form) }}