

<h1>Création d'un nouveau Client</h1>
{{ form_start(form, {'method': 'POST'}) }}
<div class="form-control from2">Prénom : {{ form_widget(form.pnomPers, {'attr': {'class': 'pnomPers'}}) }}</div> <br>
<div class="form-control form2">Nom : {{ form_widget(form.nomPers, {'attr': {'class': 'nomPers'}}) }}</div> <br>
<div class="form-control form2">Ville : {{ form_widget(form.villePers, {'attr': {'class': 'villePers'}}) }} </div><br>
<div class="form-control form2">Code Postal : {{ form_widget(form.CPPers, {'attr': {'class': 'CPPers'}}) }} </div><br>
<div class="form-control form2">Adresse : {{ form_widget(form.adrPers, {'attr': {'class': 'adrPers'}}) }} </div><br>
<div class="form-control form2">Téléphone : {{ form_widget(form.telPers, {'attr': {'class': 'telPers'}}) }} </div><br>
<div class="form-control form2">Login : {{ form_widget(form.loginPers, {'attr': {'class': 'loginPers'}}) }}</div> <br>
<div class="form-control form2">Mot de passe : {{ form_widget(form.mdpPers, {'attr': {'class': 'mdpPers'}}) }} </div><br>
<button type="submit" >{{ label_submit }}</button>
{{ form_end(form) }}