<!-- <style>
    nav {
        height:auto;
        position:relative;
        background-color: #23ADA5;
        display:flex;
        align-items:center;
        justify-content:space-around;
        text-align: center;
    }

    .list_navbar {
        display: flex;
        width:auto;
        margin: 0 30px;
    }

    .list_navbar a {
        text-decoration: none;
        color: white;
        padding: 10px;
    }

    a:hover, a.{{ current_page}}  {
        background-color: white;
        color: black;
    }

    .navbar_client_infos {
        display:flex;
        flex-direction: row;
        text-align: center;
    }
</style>

<nav class="navbar_client">
    <ul class="navbar_client_infos">
        <li class="list_navbar"><a href="{{ path('app_client')}}" class="rdv">Mes Rendez-Vous</a></li>
        <li class="list_navbar"><a href={{path('app_client_urgence')}} class="consult">Consultation urgente</a></li>
        <li class="list_navbar"><a href={{ path('app_client_contact')}} class="contact">Contacter votre vétérinaire</a></li>
        <li class="list_navbar"><a href={{ path('app_client_faq') }} class="faq">FAQ</a></li>
        <li class="list_navbar"><a href="/logout">Se Déconnecter</a></li>
    </ul>
</nav>
-->


<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #23ADA5;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_client') }}">Client</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if current_page == "rdv" %}active{% endif %}" href="{{ path('app_client') }}">Mes Rendez-Vous</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current_page == "contact" %}active{% endif %}" href="{{ path('app_client_contact') }}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current_page == "faq" %}active{% endif %}" href="{{ path('app_client_faq') }}">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current_page == "animaux" %}active{% endif %}" href="{{ path('app_animal', {clientId: app.user.id}) }}">Animaux</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Déconnexion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
