
<link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
{% if is_granted('ROLE_ADMIN') %}
<link rel="stylesheet" href="{{ asset('css/headerVet.css') }}">
{% else %}
<link rel="stylesheet" href="{{ asset('css/header.css') }}">
{% endif %}
<header class="head">
    <div class="logo">
        <a href="{{ path('app_acceuil') }}"><img alt="" class="logo" src="/img/general/veto_logo.png"></a></div>
    <div class="presentation">
        <div>Vetonat</div><div>Votre vétérinaire à </div><div>porter de clic </div></div>

    <div class="espace">
            <a class = "loginlinkvet" href="{{ path('app_login') }}">
                <div class="Connexion">
                    <p class="textvet"><img alt="" class= vetimg src="/img/general/veto.png">Connexion</p>
                </div>
            </a>
    </div>
</header>